# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
.Python

# VS Code
.vscode/

# Logs
logs/
*.log

# Byte-compiled / distribution
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
